node_modules
.buildpath
.htaccess
.project
.settings/
composer.lock
*.zip
vendor/
ionic.project
www
.tmp
.sass-cache
<%= appPath %>/bower_components
coverage
platforms
plugins
*.swp
*.swo
*.log
*.DS_Store
